<form #form="ngForm" (submit)="saveTodo()">
  <div>
    <label for="todo">New todo: </label>
    <input
      required
      minlength="3"
      type="text"
      name="title"
      [placeholder]="placeholder"
      [(ngModel)]="currentTodo.title"
      #title="ngModel"
    />
  </div>
  <div *ngIf="title.errors?.['minlength']">Min length is 3 chars</div>
  <div>
    <label for="date-input">Final date:</label>
    <input
      type="date"
      name="date-input"
      placeholder="Enter final date..."
      [(ngModel)]="currentTodo.date"
    />
  </div>
  <div>
    <label for="percentDone">% to finish </label>
    <input
      type="range"
      min="1"
      max="100"
      [(ngModel)]="currentTodo.percentDone"
      name="percentDone"
    />
  </div>
  <div>
    <label for="highPriority">High Priority</label>
    <input
      type="checkbox"
      [(ngModel)]="currentTodo.highPriority"
      name="highPriority"
    />
  </div>
  <button [disabled]="!form.valid">
    <span *ngIf="currentTodo.id; else newTodo">Edit todo </span>
    <ng-template #newTodo><span> Add todo</span></ng-template>
  </button>
</form>
<h3 [class]="titleClass" *ngIf="todos.length; else todosLengthElseBlock">
  Todo list:
</h3>
<ng-template #todosLengthElseBlock><h3>Todo list is empty</h3></ng-template>
<ul>
  <li *ngFor="let todo of todos" class="todo" (click)="selectTodo(todo)">
    {{ todo.title }}
    <div class="todo-date">{{ todo.date }}</div>
    <div>Percent done: {{ todo.percentDone }}</div>
    <div *ngIf="todo.highPriority">High priority</div>
  </li>
</ul>
